.photo-grid {
    list-style-type: none;
    padding: 0;
    width: 100%;
    line-height: 0;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
    }
  }

@media screen and (max-width: 800px) {
    .photo-grid {
        max-width: calc(100% - 2*24px);
    }
  }

@media screen and (max-width: 535px) {
    .photo-grid {
        max-width: calc(100% - 2*16px);
    }
  }