.places {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 80px;
    max-width: calc(100% - 2*148px);
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: calc(100% - 2*48px);
    }
  }

@media screen and (max-width: 800px) {
    .places {
        max-width: calc(100% - 24px*2);
        row-gap: 73px;
    }
  }

@media screen and (max-width: 535px) {
    .places {
        width: 100%;
        row-gap: 0px;
    }
  }