.photo-grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .photo-grid__container {
        gap: 14px;
    }
  }

@media screen and (max-width: 939px) {
    .photo-grid__container {
        gap: 16px;
    }
  }


@media screen and (max-width: 320px) {
    .photo-grid__container {
        gap: 12px;
        width: 288px;
    }
  }

  