.header__lang {
    display: flex;
    margin: 0;
    list-style-type: none;
    align-items: flex-end;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    padding: 0;
}

@media screen and (max-width: 535px) {
    .header__lang {
        font-size: 18px;
        line-height: 33px;
    }
}