.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
    .lead {
        width: calc(100% - 2*48px);
    }
  }

@media screen and (max-width: 800px) {
    .lead {
        max-width: 100%;
    }
  }

@media screen and (max-width: 535px) {
    .lead {
        min-width: 320px;
        margin: 0;
    }
  }