.header {
    max-width: 1184px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: calc(100% - 48px*2);
}

@media screen and (max-width: 948px) {
    .header {
        max-width: 720px;
        width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 939px) {
    .header {
        max-width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 691px) {
    .header {
        max-width: calc(100% - 16px*2);
        height: 42px;
    }
}