.content {
    margin: 56px 0 92px 0;
    display: flex;
    row-gap: 92px;
    min-width: 288px;
    max-width: 1280px;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .content {
      margin: 48px 0 92px 0;
    }
  }

@media screen and (max-width: 800px) {
    .content {
        row-gap: 88px;
        margin: 48px 0 88px 0;
    }
  }

  @media screen and (max-width: 535px) {
    .content {
        grid-row-gap: 64px;
    }
  }








