.intro__wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2*148px);
}

@media screen and (max-width: 1024px) {
    .intro__wrapper {
        width: 928px;
    }
  }

@media screen and (max-width: 939px) {
    .intro__wrapper {
        width: calc(100% - 2*24px);
    }
  }

@media screen and (max-width: 691px) {
    .intro__wrapper {
        width: calc(100% - 2*16px);
    }
  }