.footer__copyright {
    display: flex;
    flex-basis: 719px;
    justify-content: end;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
/* identical to box height, or 114% */
    color: #FFF;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        justify-content: start;
    }
}