.places__card {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
}


@media screen and (max-width: 1024px) {
    .places__card {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 800px) {
    .places__card {
        grid-template-columns: 343px 1fr;
        gap: 46px 25px;
    }
}

@media screen and (max-width: 599px) {
    .places__card {
        gap: 0px 5px;
    }
}


@media screen and (max-width: 535px) {
    .places__card {
        grid-template-columns: 100%;
        gap: 0px;
    }
}