.cover {
    width: calc(100% - 2*48px);
}

.cover__background:hover::before {
    opacity: .8;
  }

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
    }
  }

@media screen and (max-width: 320px) {
    .cover {
        margin: 0;
    }
  }