.lead__caption {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
/* identical to box height, or 140% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    margin: 8px 0 0 0;
    align-self: flex-start;
}

@media screen and (max-width: 800px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
  }

@media screen and (max-width: 535px) {
    .lead__caption {
        margin: 8px 0 0 15px;
    }
  }




