.footer__list {
    display: flex;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .footer__list {
        flex-direction: row;
    }
}

@media screen and (max-width: 598px) {
    .footer__list {
        flex-direction: column;
    }
}

@media screen and (max-width: 535px) {
    .footer__list {
        flex-direction: column;
        justify-content: space-between;
    }
}
