.page__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1280px;
    padding: 28px 0 24px;
    min-width: 320px;
}

@media screen and (max-width: 535px) {
    .page__container {
        padding: 16px 0 48px 0;
    }
  }