.footer__list-item {
    color: #FFF;
    display: flex;
    padding-right: 18px;
}

.footer__list-item:last-of-type {
    padding-right: 0;
}

@media screen and (max-width: 800px) {
    .footer__list-item:last-of-type {
        padding: 0 0 48px;
    }
}

@media screen and (max-width: 535px) {
    .footer__list-item {
        padding-bottom: 32px;
    }
}
